*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-width: 280px;
    background-color: #E5E5E5;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 550px;
    height: 100vh;
    background: linear-gradient(#FFFFFF, #F6F7FB);
    padding: 15px;
    margin-inline: auto;
}

img {
    display: block;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 45px;
}

.logo {
    width: 90px;
}

/* main */

main {
    position: relative;
    margin-block: 15px;
}

.avatar {
    width: 100%;
    border-radius: 15px;
}

.info {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.name-age {
    color: #F8F8F8;
    font-size: 2rem;
}

.bio {
    color: #B7B7B7;
    font-size: 1.5rem;
}

.badge {
    width: 45%;
    position: absolute;
    transform: rotate(-30deg);
    top: 8%;
    left: 4%;
}

/* actions */

.actions {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.btn {
    width: 80px;
    height: 80px;
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px #b7b7b7;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.btn.reject {
    background-image: url(images/icon-cross.png);
}

.btn.accept {
    background-image: url(images/icon-heart.png);
}

.btn.reject:hover,
.btn.rejected {
    background-color: #FFE7EF;
}

.btn.accept:hover,
.btn.accepted {
    background-color: #DBFFF4;
}

.btn:active {
    transform: scale(0.95);
}

.btn:disabled {
    pointer-events: none;
}
